<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255741655223-e8ffsvkkbkd2gua42hl3bcfbsgpe7jod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255741655223-e8ffsvkkbkd2gua42hl3bcfbsgpe7jod</string>
	<key>API_KEY</key>
	<string>AIzaSyAJCWgkJnXJtOFSB3HSnhBC5FC9Abt87lM</string>
	<key>GCM_SENDER_ID</key>
	<string>255741655223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.defaultcompany.core</string>
	<key>PROJECT_ID</key>
	<string>project-code-test</string>
	<key>STORAGE_BUCKET</key>
	<string>project-code-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255741655223:ios:7c1443078d536b7431f532</string>
</dict>
</plist>